body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555555; 
}


.zoomable-image {
  width: 100%;
  height: 400px; 
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.zoomable-image:hover {
  transform: scale(1.05); 
}

.zoomed-image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.zoomed-image {
  max-width: 90%;
  max-height: 90%;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px; 
  justify-items: center; 
  align-items: center; 
}
.gallery-title {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  transition: color 0.3s ease; 
  color: white;
}

.button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
 background-color: black;
 color: white;
 
}
.back-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.back-button:hover {
  background-color: black;
  color: white;
}
